<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.casecode.pos">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <instrumentation
        android:name="com.casecode.pos.core.testing.PosTestRunner"
        android:targetPackage="com.casecode.pos">

        <meta-data
            android:name="screenCaptureProcessors"
            android:value="com.google.firebase.testlab.screenshot.FirebaseScreenCaptureProcessor" />
    </instrumentation>
    <application android:requestLegacyExternalStorage="true" >
    <activity
        android:name=".HiltTestActivity"
        android:exported="false" />



    </application>
</manifest>